<header><img src="/images/Thankyouforregistering.jpg" style="width:400px;height400px;"></header>
<h1>Welcome <%= current_user.username %>!</h1>

<a href="/registries/new"><button>Create Registry</button></a>