<header><img src="/images/Register.jpg" style="width:300px;height300px;"></header>
<h1>Register</h1>

<%= "Must include email and password" if @user && @user.errors.any? %>

<form action="/users" method="POST">
    <p>
    <label for="username">User Name:</label> 
    <input type="text" name="username" id="username" />
    </p>
    <p>
        <label for="email">Email:</label> 
        <input type="text" name="email" id="email" /><br></br>
    </p>
    <p>
        <label for="password">Password:</label> 
        <input type="password" name="password" id="password" /><br></br>
    </p>

    <input type="submit" />

</form> 