<div class="container">
  <header><img src="/images/Welcome2.png" style="width:400px;height400px;"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to VOTEworks!</h2>

    <div class="content">
      <p>New users can select 'Register' and existing users can 'Log In':</p>

      <a href="/signup"><button>Signup</button></a>
      <a href="/login"><button>Log In</button></a>
    </div>

  </div>
</div>
