<header><img src="/images/Login.jpg" style="width:400px;height400px;"></header>
<h1>Login</h1>

<form action="/sessions" method="POST"> 
    <p>
        <label for="email">Email:</label> 
        <input type="text" name="email" id="email">
    </p>
    <p>
        <label for="password">Password:</label> 
        <input type="password" name="password" id="password">
    </p>

    <input type="submit" value="Login">

</form> 